@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ccc;
    font-family: 'Bacasime Antique', serif;
    position: absolute;
    left: 5rem;
    right: 5rem;
    font-size: 20px;
}

h1{
    position: absolute;
    left: 18em;
}

a{
    color: black;
    text-decoration: none;
}

.heading {
    position: absolute;
    top: 1em;
    left: 35.5em;
}